<form action="">
    <div class="input-group">
        <label for="email">Username</label>
        <input type="text" ng-model="sUsername"></input>
    </div>
    <div class="input-group">
        <label for="password">Password</label>
        <input type="password" ng-model="sPassword"></input>
    </div>
    <div class="input-group">
        <button type="button" ng-click="signUp()">Sign up</button>
    </div>
    <br>
    <hr>
    <br>
    <div class="input-group">
        <label for="email">Username</label>
    <input type="text" ng-model="lUsername"></input>
    </div>
    <div class="input-group">
        <label for="password">Password</label>
        <input type="password" ng-model="lPassword"></input>
    </div>
    <div class="input-group">
        <button type="button" ng-click="login()">Log in</button>
    </div>
</form>

