<br>
<br>
<div class="align-center">
<div class="row">
<img class="fourbythree" src="../static/resources/mine1v1.png"></img>
</div>
<div class="row">
<h1>Welcome to 1v1 Minesweeper</h1>
</div>
<div class="row">
<img class="fourbythree" src="../static/resources/mine1v1.png"></img>
</div>
<form action="">
    <div class="input-group">
        <label for="email">Username</label>
        <input type="text" ng-model="sUsername"></input>
    </div>
    <div class="input-group">
        <label for="password">Password</label>
        <input type="password" ng-model="sPassword"></input>
    </div>
    <div class="input-group">
        <button type="button" ng-click="signUp()" style="background-color: #2899e1">Sign up</button>
    </div>
    <br>
    <br>
    <hr width=50%>
    <br>
    <div class="input-group">
        <label for="email">Username</label>
    <input type="text" ng-model="lUsername"></input>
    </div>
    <div class="input-group">
        <label for="password">Password</label>
        <input type="password" ng-model="lPassword"></input>
    </div>
    <div class="input-group">
        <button type="button" ng-click="login()" style="background-color: #dd5353">Log in</button>
    </div>
</form>
</div>

